/**************************HEADER**************************/
.header {
  background-color: #6F2027;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #F5F3F5;
  font-family: Monaco, monospace;
  font-size: 20px;
  /*vertical-align: middle;*/
}
/*Header logo*/
.header img {
  width: 300px;
  margin-top: 4px;
  margin-left: 15px;
  height: auto;
  border: 3px solid #F2AF29;
  padding: 0px 8px 0px 4px;
  border-radius: 15px;
  cursor: pointer;
}
/*Header generic button style*/
.header-button {
  background-color: #6F2027;
  color: #F2AF29;
  border-radius: 10px;
  border: 3px solid #F2AF29;
  padding: 5px 4px 5px 4px;
  font-size: 25px;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
}
/*Header generic button style hover*/
.header-button:hover {
  background-color: #D3BCBE;
  color: #6F2027;
  border-radius: 10px;
  border: 3px solid #F2AF29;
  padding: 3px 4px 3px 4px;
  font-size: 30px;
  cursor: pointer;
}
/*Header login and register link*/
#header-login-link {
  position: absolute;
  top: 10%;
  right: 15px;
  cursor: pointer;
}
/*Header about/info link*/
#header-about-link {
  position: absolute;
  top: 10%;
  right: 140px;
  cursor: pointer;
}
/*Header download link*/
#header-download-link {
  position: absolute;
  top: 10%;
  right: 303px;
  cursor: pointer;
}

/**************************BODY**************************/

body {
  background-color: #D3BCBE;
  margin-top: 100px;
}

/*default buttons*/
/*Default button in style*/
.default-button {
  background-color: #D3BCBE;
  color: #F2AF29;
  border-radius: 10px;
  border: 3px solid #F2AF29;
  padding: 2px 3px 2px 3px;
  font-size: 25px;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
}
/*Default button style hover*/
.default-button:hover {
  background-color: #6F2027;
  color: #D3BCBE;
  border-radius: 10px;
  border: 3px solid #D3BCBE;
  padding: 2px 3px 2px 3px;
  font-size: 30px;
  cursor: pointer;
}
/*Default h1 style*/
h1 {
  color: #F2AF29;
  background-color: #6F2027;
  border: 3px solid #F2AF29;
  border-radius: 10px;
}

/**************************FOOTER**************************/
.footer {
  background-color: #274690;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #F5F3F5;
  font-family: Monaco, monospace;
  font-size: 20px;
}
